// Colors
$dark-gray: hsl(0, 0%, 59%);
$very-dark-gray: hsl(0, 0%, 17%);
$white: hsl(0, 0%, 100%);
$red: hsl(0, 98%, 64%);

// Font
$font-family: 'Rubik', sans-serif;
$font-size: 18px;

// Breakspoints
$tablet-breakpoint: 768px;